# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.DS_Store
.ipynb_checkpoints

# Ignore all .joblib files except those in the models directory
*.joblib
!models/**/*.joblib

# Environment variables
.env
